@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;600&display=swap');

:root {
  --desaturated-red: hsl(0, 36%, 70%);
  --soft-red: hsl(0, 93%, 68%);
  --dark-grayish-red: hsl(0, 6%, 24%);
  --pry-gradient: linear-gradient( 135deg, hsl(0, 0%, 100%), hsl(0, 100%, 98%));
  --sec-gradient: linear-gradient( 135deg, hsl(0, 80%, 86%), hsl(0, 74%, 74%));
  --ff: "Josefin Sans", sans-serif;
  --visible: none
}

html, body {
  min-height: 100vh;
}

body {
  display: grid;
  font-family: var(--ff);
  background: var(--pry-gradient);
}

.bg-image {
  background-image: url("../images/hero-mobile.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
}

.coming-soon {
  max-width: 30em;
  margin: 0 auto;
}

.image-padding {
  padding: 10em 5em;
}

.intro-heading h1 {
  font-size: 2.8em;
  letter-spacing: .4rem;
  font-weight: 600;
}

:is(.intro-t, .we-re, #email:placeholder) {
  color: var(--desaturated-red);
}

.we-re {
  font-weight: 300;
}

form * {
  box-shadow: none;
}

#email {
  border-color: var(--desaturated-red);
  background: var(--pry-gradient);
}

.errMsg {
  color: var(--soft-red);
}

.submit {
  background: var(--sec-gradient);
}

.errImg {
  width: .5em;
  aspect-ratio: 1 / 1;
  
}

.submit:hover {
  box-shadow: 0 .2em 1em var(--desaturated-red)!important;
  transform: translateX(-50%) scale(1.05)!important;
}

@media (min-width: 768px) {
  body {
    max-height: 100vh;
    grid-template-columns: 60% 40%;
    grid-template-rows: 6em calc(100% - 8em) 2em;
    grid-template-areas: 
      "header bg-image"
      "main bg-image"
      "footer footer";
  }
  header {
    grid-area: header;
  }
  main {
    grid-area: main;
    display: grid;
    align-content: center;
    grid-template-columns: auto minmax(9.5em, 30em) auto;
    background-image: url("../images/bg-pattern-desktop.svg");
    background-size: 100%;
  }
  .coming-soon {
    grid-column: 2 / 3;
  }
  .bg-image {
    grid-area: bg-image;
    background-image: url("../images/hero-desktop.jpg");
    background-size: cover;
  }
  .intro-heading h1 {
    letter-spacing: .45em;
  }
  footer {
    grid-area: footer;
  }
}

@media (min-width: 1024px) {
  main p {
    font-size: 1.6em;
  }
}